<div class="opener">
    <h1>Welcome to the Tech Blog!</h1>
        <span>Here at the Tech Blog we're passionate about anything and everything tech related.</br>
        Join the conversation by creating an account, making posts, or commenting on any post that catches your eye.</span>
</div>

<ol>
    {{#each posts as |post|}}
    <li class="homepage-post">
        <a href="/post/{{id}}">
            <article class="main-page">
                <h3>{{title}}</h3>
                <div>
                    by {{user.username}} on {{format_date created_at}}
                </div>
            </article>
        </a>
    </li>
    {{/each}}
</ol>