* {
    margin: 0;
}

html, body {
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C01EFF;
    padding: 20px;
    border-bottom: 2px solid black;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    margin: 20px;
    font-size: 18px;
}

#logout {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    padding-left: 20px;
    cursor: pointer;
}

body {
    background-image: linear-gradient(to bottom right, #F0CCFD, #C01EFF);
    background-attachment: fixed;
}

.homepage-post {
    border: 3px black solid;
    padding: 20px;
    margin-bottom: 40px;
}

ol {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-form, .new-post-form, .signup-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.login-form div, .signup-form div {
    padding: 10px;
}

.new-post-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    width: 80%;
}

.new-post-container h1, label, button {
    margin: 10px;
}

.new-post-header {
    background-color: #C01EFF;
    border-bottom: 2px solid black;
    width: 100%;
    text-align: center;
}

#post-title {
    width: 40%;
}

#post-content {
    width: 60%;
    height: 10vh;
}

.dashboard-posts, .main-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

ol {
    padding: 0px;
}

ol li, .edit li {
    list-style-type: none;
}

.single-post {
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: 3px solid black;
}

.dashboard-posts h2 {
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}

.single-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    padding-bottom: 15px;
    border-bottom: 3px solid black;
}

.content {
    margin: 20px;
}

.opener {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px 100px;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
}

.opener span {
    line-height: 1.5;
}

.opener h1 {
    margin-bottom: 5px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

#comment-body {
    width: 400px;
    height: 100px;
}

.comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 10px;
    border: solid black 2px;
}

.comments span {
    margin: 5px;
}

.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.edit input {
    width: 300px;
    margin: 10px;
}

.edit textarea {
    width: 400px;
    height: 100px;
}

.edit a {
    margin-top: 15px;
}

button {
    border: solid black 2px;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    background-color: #EDBAFF;
}

input, textarea {
    border: 1px solid black;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        padding-top: 40px
    }
}