* {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C01EFF;
    padding: 20px;
}

a {
    padding: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

#logout {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
}

body {
    background-color: #F0CCFD;
}

.login-form, .new-post-form, .signup-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.login-form div, span, .signup-form div {
    padding: 10px;
}

.new-post-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
}

.new-post-container h1, label, button {
    margin: 10px;
}

.new-post-header {
    background-color: #C01EFF;
    border-bottom: 2px solid black;
}

.dashboard-posts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

ol {
    padding: 0px;
}

ol li {
    list-style-type: none;
}

.single-post {
    padding: 20px;
    text-align: center;
}