* {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C01EFF;
    padding: 20px;
}

a {
    padding: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

#logout {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
}

body {
    background-color: #F0CCFD;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

form div, span {
    padding: 10px;
}